/* $Id$ */
body {
  background: #333333 url('../img/body_bg.jpg') repeat-x left top;
  font-size: 13px;
  color: #333333;
  font-family: Arial;
}

#wrapper {
  background: transparent url('../img/wrapper_bg.jpg') no-repeat left top;
  width: 1120px;
  margin: 0px auto;
}

#page {
  width: 960px;
  margin: 0px auto;
}

/* HEADER */
#header-top {
  height: 35px;
}

#header-middle {
  height: 80px;
}

#header-bottom {
  height: 85px;
}

#container-wrapper {
  background: transparent url('../img/container_wrapper_bg.jpg') no-repeat right top;
}

#container {
  background: transparent url('../img/container_no_sidebar_bg.jpg') repeat-y left top;
}

body.one-sidebar #container {
  background: transparent url('../img/container_bg.jpg') repeat-y left top;
}
