/* $Id$ */
body {
  background: #333333 url('../img/body_bg.jpg') repeat-x left top;
  font-size: 13px;
  color: #333333;
  font-family: Arial;
}

#wrapper {
  background: transparent url('../img/wrapper_bg.jpg') no-repeat left top;
  width: 1120px;
  margin: 0px auto;
}

#page {
  width: 960px;
  margin: 0px auto;
}